<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
div.container {
	outline:1px solid red;
	width:1000px;
	margin:0 auto;
	background-image:url(../../gallery-background.png);
	opacity:0.9;
}

div.page {
	outline:1px solid blue;
	width:980px;
	height:350px;
	overflow-x:scroll;
	overflow-y:hidden;
	position:relative;
	margin:0 auto;
	background-color:white;
}
div.gallery-pics{
	display:block;
	float:left;
	outline:1px solid black;
	width:162px;
	height:162px;
	position:relative;
}

#scroll {
	outline:1px solid green;
	width:2450px;
	position:absolute;
	left:0;
	top:0;
	
}
div.gallery-pics img{
	position:absolute;
display:block;
}

.pic-first:hover{
	opacity:0;	
}
</style>
</head>
<body>
<div class="container">
  <div class="gallery">
    <div class="page">
    <div id="scroll">
 			  <div class="gallery-pics"> 
                  <img src="../130.jpg" class="pic-second" />
                  <img src="../030.jpg" class="pic-first" />
              </div>
              <div class="gallery-pics">
                  <img src="../129.jpg" class="pic-second" />
                  <img src="../029.jpg" class="pic-first" />
              </div>
              <div class="gallery-pics">
                  <img src="../131.jpg" class="pic-second" />
                  <img src="../031.jpg" class="pic-first" />
              </div>
                  <div class="gallery-pics">
                      <img src="../133.jpg" class="pic-second" />
                      <img src="../033.jpg" class="pic-first" />
                 </div>
                  <div class="gallery-pics">
                      <img src="../134.jpg" class="pic-second" />
                      <img src="../034.jpg" class="pic-first" />
                  </div>
                  <div class="gallery-pics">
                      <img src="../135.jpg" class="pic-second" />
                      <img src="../035.jpg" class="pic-first" />
                  </div>
                  <div class="gallery-pics">
                      <img src="../136.jpg" class="pic-second" />
                      <img src="../036.jpg" class="pic-first" />
                  </div>
                  <div class="gallery-pics">
                      <img src="../137.jpg" class="pic-second" />
                      <img src="../037.jpg" class="pic-first" />
                  </div>
                    <div class="gallery-pics">
                      <img src="../138.jpg" class="pic-second" />
                      <img src="../038.jpg" class="pic-first" />
                 </div>
                  <div class="gallery-pics">
                      <img src="../139.jpg" class="pic-second" />
                      <img src="../039.jpg" class="pic-first" />
                  </div>
                  <div class="gallery-pics">
                      <img src="../140.jpg" class="pic-second" />
                      <img src="../040.jpg" class="pic-first" />
                  </div>
                  <div class="gallery-pics">
                      <img src="../141.jpg" class="pic-second" />
                      <img src="../041.jpg" class="pic-first" />
                  </div>
                  <div class="gallery-pics">
                      <img src="../142.jpg" class="pic-second" />
                      <img src="../042.jpg" class="pic-first" />
                   </div>
                  <div class="gallery-pics">
                      <img src="../143.jpg" class="pic-second" />
                      <img src="../043.jpg" class="pic-first" />
                 </div>
                  <div class="gallery-pics">
                      <img src="../144.jpg" class="pic-second" />
                      <img src="../044.jpg" class="pic-first" />
                  </div>
                  <div class="gallery-pics">
                      <img src="../145.jpg" class="pic-second" />
                      <img src="../045.jpg" class="pic-first" />
                  </div>
                  <div class="gallery-pics">
                      <img src="../146.jpg" class="pic-second" />
                      <img src="../046.jpg" class="pic-first" />
                  </div>
                  <div class="gallery-pics">
                      <img src="../147.jpg" class="pic-second" />
                      <img src="../047.jpg" class="pic-first" />
                  </div>
                  <div class="gallery-pics">
                      <img src="../148.jpg" class="pic-second" />
                      <img src="../048.jpg" class="pic-first" />
              </div>
              <div class="gallery-pics">
                  <img src="../149.jpg" class="pic-second" />
                  <img src="../049.jpg" class="pic-first" />
              </div>
              <div class="gallery-pics">
                  <img src="../150.jpg" class="pic-second" />
                  <img src="../050.jpg" class="pic-first" />
              </div>
              <div class="gallery-pics">
                  <img src="../151.jpg" class="pic-second" />
                  <img src="../051.jpg" class="pic-first" />
              </div>
              <div class="gallery-pics">
                  <img src="../152.jpg" class="pic-second" />
                  <img src="../052.jpg" class="pic-first" />
              </div>
              <div class="gallery-pics">
                  <img src="../153.jpg" class="pic-second" />
                  <img src="../053.jpg" class="pic-first" />
             </div>
              <div class="gallery-pics">
                  <img src="../1.jpg" class="pic-second" />
                  <img src="../031.jpg" class="pic-first" />
              </div>
              <div class="gallery-pics">
                  <img src="../131.jpg" class="pic-second" />
                  <img src="../031.jpg" class="pic-first" />
             </div>
              <div class="gallery-pics">
                  <img src="../131.jpg" class="pic-second" />
                  <img src="../031.jpg" class="pic-first" />
              </div>
              <div class="gallery-pics">
                  <img src="../131.jpg" class="pic-second" />
                  <img src="../031.jpg" class="pic-first" />
              </div>
              <div class="gallery-pics">
                  <img src="../131.jpg" class="pic-second" />
                  <img src="../031.jpg" class="pic-first" />
              </div>
              <div class="gallery-pics">
                  <img src="../131.jpg" class="pic-second" />
                  <img src="../031.jpg" class="pic-first" />
              </div>
       </div>
    </div>
  </div>
</div>
</body>
</html>
